[submodule "lib/BsZenLib"]
	path = lib/BsZenLib
	url = https://github.com/REGoth-project/BsZenLib.git
[submodule "lib/bsf"]
	path = lib/bsf
	url = https://github.com/GameFoundry/bsf.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
